.App {
  background: #e3f6f5;
  padding: 30px;
}

.App-header {
  text-align: center;
  margin: 30px;
  font-size: 50px;
  border: 1px solid black;
  border-radius: 7px;
  padding: 30px;
  background-color: #3b355e;
  color: white;
}

.App-footer {
  margin: 30px 0;
  text-align: center;
}
